<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand ps-4" href="/entries">Travel Blog</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/entries">Home</a> {# in the href you put the
        route #}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">New Entry</a>
      </li>
    </ul>
  </div>
</nav>
