{% extends "base.html.twig" %} {% block body %}
<div class="container p-4 border border-secondary border-opacity-50 rounded">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}
